header{
    background-color: #f4b860;
    color: #32373b;
}
main{
    background-color: #32373b;
    color: #fff
}
h2{
    color: #f4b860 ;
}
h3{
    color: #fff
}
footer{
    background-color: #f4b860;
    color: #32373b;
}